*{
	box-sizing: border-box;
}

html, body{
	height:  100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

h1{
	margin: 1rem 0;
}

section{
	border-bottom:  1px solid #000;
}

.wrapper{
	max-width: 600px;
	margin: 0 auto;

}

section:last-of-type{
	border-bottom: none;
}

.electric-purple{
	background: #C200FB;
	float: right;



}

.raspberry{
	background: #EC0868;
	float: left;

}

.ferrari-red{
	background: #FC2F00;
	float: left;

}

.green{
	background: green;
	float: left;

}

.black{
	background: black;
	float: right;

}

.col {
	height: 200px;
	width: 200px;


}

.row{
	background: yellow;
}

.clearfix::after{
	content: "huhu";
	display: block;
	width: 100%;
	clear: both;
}

.cl{
	clear: both;
}
