*{
	box-sizing: border-box;
}

html, body{
	height:  100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

h1{
	margin: 1rem 0;
}

section{
	border-bottom:  1px solid #000;
}

.wrapper{
	max-width: 600px;
	margin: 0 auto;

}

section:last-of-type{
	border-bottom: none;
}

.electric-purple{
	background: #C200FB;
	flex-grow: 1;



}

.raspberry{
	background: #EC0868;
	flex-grow: 1;

}

.ferrari-red{
	background: #FC2F00;
	flex-grow: 1;


}

.green{
	background: green;
	flex-grow: 4;

}

.black{
	background: black;
	flex-grow: 1;
	order: -1;
}

.col {
	height: 200px;
	width: 200px;
	float: left;

}

.row{
	background: yellow;
}

.clearfix{
	clear: both;
}

.flex{
	display: flex;
	height: 200px;

}
